@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  --white: #FFFFFF;
  --black: #000000;
  --purple: #7026D9;
}
html{
  font-size: 62.5%;

}
body{
  background-color: #000000;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}
.container-principal {
  display: flex;
  height: 100vh;
  
}
.container {
  width: 50%;
}
.centralizar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.principal {
  color: var(--white);
  padding: 8rem;

}
.principal-logo{
  font-size: 6rem;
}
.principal-titulo{
  font-size: 3rem;
}
.principal-descricao{
  margin: 3rem 0rem;
  text-align: justify;
}



.card {
  background-color: var(--white);
  max-width: 60rem;
  overflow: hidden;
}

.card-pergunta{
  height: 25rem;
  color: var(--white);
  background-color: var(--purple);
  
}
.card-titulo{
  font-size: 2.5rem;
  font-weight: 700;
}
.card-resposta {
  color: var(--black);
  padding: 3rem 1.5rem;
  font-weight: 500;
  min-height: 14rem ;
}
.card, 
.botao{
  border-radius: 0.5rem;
}


.blur {
  filter: blur(3px);
}

.botoes{
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.botao{
  cursor: pointer;
  color: var(--black);
  width: 100%;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 700;
 
}
